<div class='create-content'>
  <%= link_to "New Thread", new_topic_path %>
</div>
<div id='thread-list'>
  <% @topics.each do |topic| %>
  <div class='listing'>
    <p>Posted by <%= topic.user.username %>
    On <%= topic.created_at.in_time_zone(-8) %></p>
    <span><%= link_to topic.title, topic_path(topic) %></span>
  </div>
  <% end %>
</div>
