<h1><%= @user.username %></h1>

<table class='table'>
 <tr>
   <td>User ID</td>
   <td><%= @user.id %></td>
 </tr>
 <tr>
   <td>Account created</td>
   <td><%= format_datetime(@user.created_at.in_time_zone(-8)) %></td>
 </tr>
</table>

<%= link_to "Close this account", user_path, method: :delete, data: {confirm: 'Really delete this account?'} %>
