<footer class='footer'>
  <small class='footer-left'><a href='https://www.youtube.com/watch?v=fp-52d4HxtY'>Contact me don't contact me</a></small>
  <small class='footer-right'>The Oekaki Board by <a href='http://github.com/chinibi'>Trevor Pham</a></small>
</footer>
