<header class="nav">
  <div class='container'>
    <%= link_to "forum", root_path %>
    <nav>
      <ul>
        <li><%= link_to 'Home',          root_path %></li>
        <li><%= link_to 'Create Account', new_user_path %></li>
        <li><%= link_to 'Log In', login_path %></li>
      </ul>
  </div>
</header>
